body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    font-family: 'Poppins', sans-serif;
}
.heading{
    margin-top: 35px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.heading span{
     color:white;
     font-size: 50px;
     font-weight: 800;
    
}
.wrapcont{
 box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    width: 500px;
     height: 250px;
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 30px 20px;
    border-radius: 12px;
   
    
    
}
