
body{
    margin: 0;
    padding: 0;
    background: #002B5B;
    font-family: 'Poppins', sans-serif;
}
.heading{
    margin-top: 35px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.heading span{
     color:#007BFF;
     font-size: 80px;
     font-weight: 800;
    
}
.wrapcont{
  background-color:#cce7ff;
 box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    width: 500px;
     height: 250px;
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 30px 20px;
    border-radius: 12px;
   
    
    
}
button{
  background-color: #4CAF50;
color: white;
height: 50px;
width: 150px;
font-size: 18px;
font-weight: 500;
border-radius: 8px;
 border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;

}
button:hover{
    cursor: pointer;
    color:black;
    background-color: blue;
    
}
input{
   border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}
input:focus{
      border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
.istinput p label {
    font-size: 22px;
}
.ndiput p label {
    font-size: 22px;
}
#Weight-guide{
    margin-top: 30px;
    text-align: center;
       color: #007BFF;
}
#Weight-guide span{
    font-size: 28px;
    font-weight: 700;
}
@media (max-width: 768px) {
  .heading span {
    font-size: 32px;
  }

  .wrapcont {
    width: 83%;
    height: auto;
    padding: 20px 15px;
  }

  button {
    width: 100%;
    font-size: 16px;
  }

  .istinput label,
  .ndiput label {
    font-size: 18px;
  }

  #Weight-guide span {
    font-size: 20px;
  }
}
#result{
  margin-top: 20px;
  text-align: center;
}